<html lang="fa-IR" dir="rtl">
    <%- include('../parts/head') %>
    <link rel="stylesheet" href="../../css/about.css">
<body>
    <header>
        <%- include('../parts/header') %>
    </header>
    <main>
        <div class="content">
            <h3>سینا یگانه هستم :)</h3>
        </div>
        <div class="tips">
            <h3 style="text-align: center;">سایت ها و شبکه های اجتماعی</h3>
            <div class="social-network">
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/discord-logo.png"/></a>
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png"/></a>
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/gmail-new.png"/></a>
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/instagram-new.png"/></a>
                <a href="#"><img src="https://img.icons8.com/ios-filled/50/000000/facebook.png"/></a>
            </div>
        </div>
    </main>
</body>
</html>