@font-face {
    font-family: shabnam;
    src: url("../font/shabnam/Shabnam.ttf");
}

.content {
    padding: 10px 10px 5px 10px;
    width: 65%;
    height: 100%;
    background-color: rgb(248, 246, 246);
    border-radius: 10px;
}

.new-ask {
    padding: 10px 10px 5px 10px;
    width: 30%;
    height: 100%;
    margin-right: 1vw;
    background-color: rgb(248, 246, 246);
    border-radius: 10px;
    font-size: 1vw;
}

.body {
    font-size: 1vw;
}

form {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

button {
    font-size: 1vw;
    outline: none;
    background-color: rgb(63,81,181);
    font-family: shabnam;
    border: rgb(63,81,181) solid 1px;
    border-radius: 5px;
    width: 20vw;
    height: 2.3vw;
    margin-top: 0.7vw;
    cursor: pointer;
    color: white;
    transition: background-color 1s, border 1s, border-radius 1s;
}

button:hover {
    background-color: rgb(4,169,244);
    border: rgb(4,169,244) solid 1px;
    border-radius: 25px;
}

.new-ask-input {
    font-size: 1vw;
    font-family: shabnam;
    border: rgb(63,81,181) solid 1.5px;
    border-radius: 5px;
    text-align: center;
    outline: none;
    margin-top: 0.7vw;
    width: 20vw;
    height: 2.3vw;
    transition: border 1s, border-radius 1s;
}

.new-ask-input:focus {
    border: rgb(4,169,244) solid 1.5px;
    border-radius: 20px;
}

.new-ask > ul > li {
    padding: 0.8vw 1px 0 0;
}

#ask-text-aria {
    padding: 0.5vw;
    font-family: shabnam;
    width: 20vw;
    height: 10vw;
    border: rgb(63,81,181) solid 1.5px;
    border-radius: 5px;
    outline: none;
    margin-top: 0.7vw;
    transition: border 1s, border-radius 1s;
    text-align: center;
}

#ask-text-aria:focus {
    border: rgb(4,169,244) solid 1.5px;
    border-radius: 20px;
}