<nav>
    <ul class="header">
        <a href="/" class="title"><li>هکر نیوز</li></a>
        <a href="/"><li>پست</li></a>
        <a href="/asks"><li>سوال</li></a>
        <a href="/new-post"><li>پست جدید</li></a>
        <a href="https://idpay.ir/sina-yeganeh"><li>کمک مالی</li></a>
        <a href="/about"><li>درباره</li></a>
    </ul>
</nav>